<a href="https://colab.research.google.com/github/00kang/gis_algorithm/blob/main/July/07_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def insertion_sort(num_list):
    for x in range(1, len(num_list)):
        for y in range(x, 0, -1):
            if num_list[y] <num_list[y-1]:
                temp = num_list[y]
                num_list[y] = num_list[y-1]
                num_list[y-1] = temp

    return num_list


def selection_sort(num_list):
    idx = 0
    for x in range(len(num_list)):
        min = num_list[x]
        for y in range(x, len(num_list)):
            if min > num_list[y]:
                min = num_list[y]
                index = y
                num_list[idx] = num_list[x]
                num_list[x] = min

    return num_list


def bubble_sort(num_list):
    for x in range(len(num_list)):
        for y in range(len(num_list)-x-1):
            if num_list[y] > num_list[y+1]:
                temp = num_list[y]
                num_list[y] = num_list[y+1]
                num_list[y+1] = temp

    return num_list


n = int(input())
num_list = []

for _ in range(n):
    num = int(input())
    num_list.append(num)


insertion_sorted_list = insertion_sort(num_list)
print(" ".join(map(str, insertion_sorted_list)))

selection_sorted_list = selection_sort(num_list)
print(" ".join(map(str, selection_sorted_list)))

bubble_sorted_list = bubble_sort(num_list)
print(" ".join(map(str, bubble_sorted_list)))

5
8
6
5
2
4
2 4 5 6 8
2 4 5 6 8
2 4 5 6 8

In [ ]:
num_list = [8,5,6,2,4]
for x in range(len(num_list)):
    for y in range(x, len(num_list)):
        print(x, y)

0 0
0 1
0 2
0 3
0 4
1 1
1 2
1 3
1 4
2 2
2 3
2 4
3 3
3 4
4 4